@page
@model Shop.Areas.Admin.Pages.Categories.DeleteModel

@{
    ViewData["Title"] = "حذف دسته";
}

<div class="card m-auto" style="max-width: 700px">
    <div class="bg-danger card-header text-center text-white" style="font-size: 1.1rem">@ViewData["Title"]</div>
    <div class="card-body p-4">
        <h5 class="card-title">آیا مطمئن هستین میخواین «@Model.Category.Name» را حذف کنید؟</h5>
        <div>
            <hr/>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Category.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Category.Name)
                </dd>
            </dl>

            <form method="post">
                <input asp-for="Category.Id" type="hidden"/>
                <input class="btn btn-danger" type="submit" value="حذف"/> |
                <a asp-page="./Index">بازگشت به لیست</a>
            </form>
        </div>
    </div>
</div>