@page
@model LockoutModel
@{
    ViewData["Title"] = "صفحه قفل شده است";
}

<div class="card m-auto mt-4 text-center" style="max-width: 750px">
    <div class="bg-danger card-header py-3 text-white" style="font-size: 1.4rem">
        محدودیت دسترسی
    </div>
    <div class="card-body py-5">
        <h5 class="card-title" style="font-size: 1.1rem">دسترسی به این اکانت محدود شده است. لطفا بعدا دوباره تلاش کنید.</h5>
        <a asp-area="" asp-page="/Index" class="btn btn-primary mt-3">بازگشت به صفحه اصلی</a>
    </div>
</div>