<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>@ViewData["Title"] - فروشگاه</title>
    <link href="~/lib/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet"/>
    <link asp-append-version="true" href="~/lib/sidebar/style.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link asp-append-version="true" href="~/css/site.css" rel="stylesheet"/>
    <link asp-append-version="true" href="~/Shop.styles.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="bg-white border-bottom box-shadow navbar navbar-expand-sm navbar-light navbar-toggleable-sm pb-3 pt-2 px-0 px-md-3 py-md-0">
        <div class="container-fluid">
            <a asp-area="" asp-page="/Index" class="navbar-brand position-relative" style="margin-left: 8px; top: 3px;">
                <img alt="logo" class="app-logo" height="40px" src="~/img/logo.png" width="40px"/>
            </a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target=".navbar-collapse"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse d-sm-inline-flex justify-content-between navbar-collapse">
                <ul class="flex-grow-1 nav-menus navbar-nav">
                    <li class="nav-item">
                        <a asp-area="" asp-page="/Index" class="nav-link text-dark">خانه</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-page="/Privacy" class="nav-link text-dark">حریم خصوصی</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-page="/ContactUs/Index" class="nav-link text-dark">تماس با ما</a>
                    </li>
                </ul>
                <partial name="_LoginPartial"/>
                <a class="align-items-center d-flex justify-content-md-center justify-content-start text-black" href="#" style="width: 40px; height: 40px">
                    <div class="position-relative" style="top: 5px">
                        <span class="material-symbols material-symbols-outline">
                            shopping_cart
                        </span>
                        <span class="badge bg-danger position-absolute text-white" style="bottom: -2px; right: -6px; font-size: 11px"></span>
                    </div>
                </a>
            </div>
        </div>
    </nav>
</header>
<main role="main" style="margin-bottom: 250px !important;">
    @RenderBody()
</main>

<footer class="border-top footer text-muted" style="line-height: unset">
    <div class="container">
        <div class="d-flex flex-row justify-content-around pt-3">
            <div class="align-items-center d-flex flex-column gap-3">
                <img alt="امکان تحویل اکسپرس" height="56px" src="/img/credit/express-delivery.svg" width="56px"/>
                <span class="position-relative" style="font-size: 0.85rem; top: -12px">امکان تحویل اکسپرس</span>
            </div>
            <div class="align-items-center d-flex flex-column gap-3">
                <img alt="امکان پرداخت در محل" height="56px" src="/img/credit/cash-on-delivery.svg" width="56px"/>
                <span class="position-relative" style="font-size: 0.85rem; top: -12px">امکان پرداخت در محل</span>
            </div>
            <div class="align-items-center d-flex flex-column gap-3">
                <img alt="۷ روز، ۲۴ ساعته" height="56px" src="/img/credit/support.svg" width="56px"/>
                <span class="position-relative" style="font-size: 0.85rem; top: -12px">۷ روز، ۲۴ ساعته</span>
            </div>
            <div class="align-items-center d-flex flex-column gap-3">
                <img alt="۷ روز ضمانت بازگشت کالا" height="56px" src="/img/credit/days-return.svg" width="56px"/>
                <span class="position-relative" style="font-size: 0.85rem; top: -12px">۷ روز ضمانت بازگشت کالا</span>
            </div>
            <div class="align-items-center d-flex flex-column gap-3">
                <img alt="ضمانت اصل بودن کالا" height="56px" src="/img/credit/original-products.svg" width="56px"/>
                <span class="position-relative" style="font-size: 0.85rem; top: -12px">ضمانت اصل بودن کالا</span>
            </div>
        </div>
        <hr/>
        <span class="align-items-center d-flex justify-content-center pb-3 text-center">&copy; 2023 - تمامی حقوق برای فروشگاه محفوظ است.</span>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/popper/popper.min.js"></script>
<script asp-append-version="true" src="~/lib/sidebar/main.js"></script>
<script asp-append-version="true" src="~/js/site.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>