@page
@model Store.Areas.Admin.Pages.ContactUs.DetailsModel

@{
    ViewData["Title"] = $"پیام شماره {Model.Message.Id}";
}

<div class="card m-auto" style="max-width: 1000px">
    <div class="card-header no-border p-2 text-center" style="font-size: 1.2rem">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        <partial for="@Model.Message" name="_Details"/>
        <div>
            <a asp-page="./Index">بازگشت به لیست</a>
        </div>
    </div>
</div>