<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>@ViewData["Title"] - پنل مدیریت</title>
    <link href="~/lib/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet"/>
    <link asp-append-version="true" href="~/css/site.css" rel="stylesheet"/>
    <link asp-append-version="true" href="~/Shop.styles.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body>
@RenderBody()

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/popper/popper.min.js"></script>
<script asp-append-version="true" src="~/js/site.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>