@import url(font-style.css);

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Vazir', sans-serif !important;
}

@media (max-width: 768px) {
    .table-mobile-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
}

.product-image {
    /* Add a transition for smooth hover effects */
    transition: transform 0.3s ease-in-out;
}

/* Hover effect for product images */
.product-image:hover {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
}

img {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    border-radius: 10px;
}

.image-container {
    display: block;
    border: 2px solid #ccc; /* Border color and thickness */
    overflow: hidden; /* Clip image overflow */
    position: relative; /* Position for overlay text */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Optional: Hover effect for the border */
.image-container:hover {
    border-color: #007bff; /* Change border color on hover */
}

.app-logo {
    box-shadow: none;
    border-radius: unset;
    vertical-align: unset;
}

@media (max-width: 768px) {
    .app-logo {
        width: 45px;
        height: 45px;
    }
}

td {
    vertical-align: middle;
}

.card-icon {
    font-size: 55px;
    top: 8px;
    left: 30px;
}

@media (min-width: 768px) {
    .card-icon {
        font-size: 70px;
        left: 25px;
        top: 6px;
    }
}

.navbar {
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .navbar {
        font-size: 1rem;
    }

    .dropdown-navbar {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem !important;
    }
}