@import url(font-style.css);

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Vazir', sans-serif !important;
}

@media (max-width: 768px) {
    .table-mobile-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
}

.margin-from-footer {
    margin-bottom: 90px !important;
}

@media (min-width: 768px) {
    .margin-from-footer {
        margin-bottom: 260px !important;
    }
}

.product-image {
    /* Add a transition for smooth hover effects */
    transition: transform 0.3s ease-in-out;
}

/* Hover effect for product images */
.product-image:hover {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
}

img {
    object-fit: cover;
}

.image-highlight {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.image-container {
    display: block;
    border: 2px solid #ccc; /* Border color and thickness */
    overflow: hidden; /* Clip image overflow */
    position: relative; /* Position for overlay text */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Optional: Hover effect for the border */
.image-container:hover {
    border-color: #007bff; /* Change border color on hover */
}

.app-logo {
    box-shadow: none;
    border-radius: unset;
    vertical-align: unset;
    width: 47px;
    height: 35px;
}

@media (max-width: 768px) {
    .app-logo {
        width: 54px;
        height: 40px;
    }
}

td {
    vertical-align: middle;
}

.card-icon {
    font-size: 65px !important;
    top: 8px;
    left: 30px;
}

@media (min-width: 768px) {
    .card-icon {
        font-size: 70px !important;
        left: 25px;
        top: 10px;
    }
}

.card-product {
    border: 1px solid transparent;
    transition: border 0.2s ease;
}

.card-product:hover {
    border: 1px solid #0d6efd;
}

.navbar {
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .navbar {
        font-size: 1rem;
    }

    .dropdown-navbar {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem !important;
    }
}

.carousel img {
    filter: brightness(50%);
    box-shadow: unset;
    border-radius: unset;
}

.carousel-inner {
    max-height: calc(100vh - 65px);
}

.carousel-item {
    position: unset;
}

.category-title {
    background-color: #54a0ff
}

@media (min-width: 768px) {
    .category-title {
        max-width: 200px;
    }
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.material-symbols-fill {
    font-variation-settings: 'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url('../fonts/google/font.woff2') format('woff2');
}

.material-symbols {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    text-decoration: underline;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


a.close.disabled {
    pointer-events: none;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wrapper {
    width: 100%;
}

a[data-toggle="collapse"] {
    position: relative;
}

@media (min-width: 768px) {
    .mw-md-unset {
        max-width: unset !important;
    }
}

.div-gradiant {
    background-image: linear-gradient(270deg, #0a96e7 0%, #003f9d 100%);
}

.div-highlight {
    background-image: url("/img/assets/pattern-bg-2.png");
    background-color: #0d729a;
}

.div-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

@media (min-width: 768px) {
    .position-md-sticky {
        position: sticky !important;
    }
}

@media (min-width: 768px) {
    .top-md-1 {
        top: 4px !important;
    }

    .top-md-2 {
        top: 8px !important;
    }

    .top-md-3 {
        top: 12px !important;
    }

    .top-md-4 {
        top: 16px !important;
    }

    .top-md-5 {
        top: 20px !important;
    }

    .top-md-6 {
        top: 24px !important;
    }

    .top-md-7 {
        top: 28px !important;
    }

    .top-md-8 {
        top: 32px !important;
    }
}

.link-secondary {
    color: var(--bs-secondary) !important;
    transition: color 0.2s ease;
}

.link-secondary:hover {
    color: var(--bs-primary) !important;
}

.link-active {
    color: var(--bs-primary) !important;
}

@media (min-width: 768px) {
    .mr-1 {
        margin-right: 4px !important;
    }

    .mr-2 {
        margin-right: 8px !important;
    }

    .mr-3 {
        margin-right: 12px !important;
    }

    .mr-4 {
        margin-right: 16px !important;
    }

    .mr-5 {
        margin-right: 20px !important;
    }

    .mr-6 {
        margin-right: 24px !important;
    }

    .mr-7 {
        margin-right: 28px !important;
    }

    .mr-8 {
        margin-right: 32px !important;
    }
}