<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>@ViewData["Title"] - پنل مدیریت</title>
    <link asp-append-version="true" href="~/lib/sidebar/style.css" rel="stylesheet"/>
    <partial name="_Css"/>
</head>
<body>
<div class="align-items-stretch d-flex wrapper">
    <nav class="bg-dark" id="sidebar">
        <div class="custom-menu">
            <button class="btn-sidebar btn-sidebar-primary" id="sidebarCollapse" type="button">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4">
            <div class="d-flex flex-column gap-2 text-center">
                <a asp-page="/Index" class="text-white" style="font-size: 1.1rem">
                    پنل مدیریت
                </a>
                <span class="text-white user-select-none">@User.Identity!.Name</span>

            </div>
            <hr class="bg-white"/>
            <ul class="components list-unstyled mb-5 sidebar-items">
                <li>
                    <a asp-page="/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            grid_view
                        </span>
                        داشبورد
                    </a>
                </li>
                <li>
                    <a asp-page="/ContactUs/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            chat
                        </span>
                        پیام‌ها
                    </a>
                </li>
                <li>
                    <a asp-page="/Members/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            group
                        </span>
                        اعضا
                    </a>
                </li>
                <li>
                    <a asp-page="/Categories/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            category
                        </span>
                        دسته‌بندی‌ها
                    </a>
                </li>
                <li>
                    <a asp-page="/Products/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            deployed_code
                        </span>
                        محصولات
                    </a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            manage_accounts
                        </span>
                        پروفایل
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            home
                        </span>
                        صفحه اصلی سایت
                    </a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Logout" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            logout
                        </span>
                        خروج
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page Content  -->
    <div class="p-4 p-md-5 pt-3 pt-md-4" id="content">
        @RenderBody()
    </div>
</div>

<partial name="_Scripts"/>
<partial name="_ValidationScriptsPartial"/>
<script asp-append-version="true" src="~/lib/sidebar/main.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>