<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>@ViewData["Title"] - پنل مدیریت</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link asp-append-version="true" href="~/lib/sidebar/style.css" rel="stylesheet"/>
    <link asp-append-version="true" href="~/css/site.css" rel="stylesheet"/>
    <link asp-append-version="true" href="~/Store.styles.css" rel="stylesheet"/>
</head>
<body>
<div class="align-items-stretch d-flex wrapper">
    <nav class="bg-dark" id="sidebar">
        <div class="custom-menu">
            <button class="btn-sidebar btn-sidebar-primary" id="sidebarCollapse" type="button">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4">
            <div class="d-flex flex-column gap-2 text-center">
                <a asp-page="/Index" class="text-white" style="font-size: 1.1rem">
                    پنل مدیریت
                </a>
                <span class="text-white user-select-none">@User.Identity!.Name</span>

            </div>
            <hr class="bg-white"/>
            <ul class="components list-unstyled mb-5 sidebar-items">
                <li>
                    <a asp-page="/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            grid_view
                        </span>
                        داشبورد
                    </a>
                </li>
                <li>
                    <a asp-page="/ContactUs/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            chat
                        </span>
                        پیام‌ها
                    </a>
                </li>
                <li>
                    <a asp-page="/Members/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            group
                        </span>
                        اعضا
                    </a>
                </li>
                <li>
                    <a asp-page="/Categories/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            category
                        </span>
                        دسته‌بندی‌ها
                    </a>
                </li>
                <li>
                    <a asp-page="/Products/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            deployed_code
                        </span>
                        محصولات
                    </a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            manage_accounts
                        </span>
                        پروفایل
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Index" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            home
                        </span>
                        صفحه اصلی سایت
                    </a>
                </li>
                <li>
                    <a asp-area="Identity" asp-page="/Account/Logout" class="d-flex">
                        <span class="material-symbols material-symbols-fill mr-3 text-white">
                            logout
                        </span>
                        خروج
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Page Content  -->
    <div class="p-4 p-md-5 pt-3 pt-md-4" id="content">
        @RenderBody()
    </div>
</div>

<script crossorigin="anonymous" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" src="https://unpkg.com/@@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script asp-append-version="true" src="~/lib/sidebar/main.js"></script>
<script asp-append-version="true" src="~/js/site.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>