@page
@model LoginModel

@{
    ViewData["Title"] = "ورود";
}

<div class="card m-auto mt-4" style="max-width: 550px">
    <div class="card-header text-center" style="font-size: 1.4rem">
        ورود
    </div>
    <div class="card-body p-5">
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input aria-required="true" asp-for="Input.Email" autocomplete="نام کاربری" class="form-control" placeholder="name@example.com"/>
                <label asp-for="Input.Email" class="form-label">ایمیل</label>
                <div class="mt-1 text-danger">
                    <span asp-validation-for="Input.Email"></span>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input aria-required="true" asp-for="Input.Password" autocomplete="current-password" class="form-control" placeholder="رمز عبور"/>
                <label asp-for="Input.Password" class="form-label">رمز عبور</label>
                <div class="mt-1 text-danger">
                    <span asp-validation-for="Input.Password"></span>
                </div>
            </div>
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input asp-for="Input.RememberMe" class="form-check-input"/>
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <button class="btn btn-lg btn-primary w-100" id="login-submit" type="submit">ورود</button>
        </form>
    </div>
</div>

<div class="mt-3 text-center">
    هنوز ثبت‌نام نکردین؟ <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-decoration-none">ثبت‌نام</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}