@page
@model LogoutModel
@{
    ViewData["Title"] = "خروج";
}

<div class="margin-from-footer">
    @if (User.Identity?.IsAuthenticated ?? false) {
        <div class="card m-auto mt-4 text-center" style="max-width: 700px">
            <div class="bg-primary card-header py-3 text-white" style="font-size: 1.4rem">
                خروج از اکانت
            </div>
            <div class="card-body py-5">
                <h5 class="card-title" style="font-size: 1.1rem">آیا مطمئن هستین میخواین از اکانت خود خارج شوید؟</h5>
                <div class="d-flex flex-row gap-2 justify-content-center mt-4">
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" class="form-inline" method="post">
                        <button class="btn btn-danger" type="submit">خروج</button>
                    </form>
                    <a asp-area="" asp-page="/Index" class="btn btn-outline-primary">بازگشت به صفحه اصلی</a>
                </div>
            </div>
        </div>
    }
    else {
        <div class="card m-auto mt-4 text-center">
            <div class="card-body py-5">
                <h5 class="card-title" style="font-size: 1.1rem">شما با موفقیت از اکانت خود خارج شده‌اید.</h5>
                <a asp-area="" asp-page="/Index" class="btn btn-primary">بازگشت به صفحه اصلی</a>
            </div>
        </div>
    }

</div>