@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null) {
        Layout = parentLayout.ToString();
    }
    else {
        // Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="container div_border p-4" style="min-height: 500px">
    <h1>مدیریت اکانت</h1>

    <div>
        <hr/>
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav"/>
            </div>
            <div class="col-md-9 px-4">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}