@page
@model EmailModel
@{
    ViewData["Title"] = "مدیریت ایمیل";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial for="StatusMessage" name="_StatusMessage"/>
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating input-group mb-3">
                <input asp-for="Email" class="form-control" disabled/>
                <label asp-for="Email" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input aria-required="true" asp-for="Input.NewEmail" autocomplete="email" class="form-control" placeholder="ایمیل خود را وارد کنید"/>
                <label asp-for="Input.NewEmail" class="form-label"></label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button asp-page-handler="ChangeEmail" class="btn btn-lg btn-primary w-100" id="change-email-button" type="submit">ثبت ایمیل جدید</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}