@page
@model PersonalDataModel
@{
    ViewData["Title"] = "اطلاعات شخصی";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>اکانت شما شامل اطلاعات شخصی‌ای هستش که به ما دادین. در این صفحه می‌تونید این اطلاعات رو حذف کنید.</p>
        <p>
            <strong>حذف این اطلاعات دائمی و غیرقابل بارگشت خواهد بود. پس درآینده نمی‌تونید این اطلاعات رو بازیابی کنید.</strong>
        </p>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-danger" id="delete">حذف اطلاعات</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}