@page
@model Store.Pages.ErrorModel
@{
    ViewData["Title"] = "خطا!";
}

<div class="border-danger card m-auto mt-5" style="max-width: 800px">
    <div class="card-header text-center" style="font-size: 1.3rem">@ViewData["Title"]</div>
    <div class="card-body p-4 py-4">
        <h5 class="card-title mb-4">هنگام پردازش اطلاعات خطایی رخ داده است.</h5>
        <div class="card-text">
            @if (Model.ShowRequestId) {
                <p>
                    <strong>آی‌دی درخواست:</strong> <code>@Model.RequestId</code>
                </p>
            }

            <p>
                اگر این مشکل برطرف نشد میتونید با ما <a asp-page="/ContactUs/Index">تماس بگیرید</a>.
            </p>
        </div>
    </div>
</div>