@page
@model Store.Pages.IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="margin-from-footer">
    <div class="carousel carousel-fade slide" data-bs-ride="carousel" id="slideshow">
        <div class="carousel-indicators">
            <button aria-current="true" aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#slideshow" type="button"></button>
            <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#slideshow" type="button"></button>
            <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#slideshow" type="button"></button>
            <button aria-label="Slide 4" data-bs-slide-to="3" data-bs-target="#slideshow" type="button"></button>
            <button aria-label="Slide 5" data-bs-slide-to="4" data-bs-target="#slideshow" type="button"></button>
        </div>
        <div class="carousel-inner">
            <div class="active carousel-item" data-bs-interval="5000">
                <img alt="slide-1" class="d-block w-100" src="/img/slideshow/image1.jpg">
                <div class="carousel-caption d-md-block d-none">
                    <h5>سفر شما از اینجا شروع می‌شود</h5>
                    <p>با ما سفری سر سبز و پر از امکانات شروع کنید</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img alt="slide-2" class="d-block w-100" src="/img/slideshow/image2.jpg">
                <div class="carousel-caption d-md-block d-none">
                    <h5>باغ‌های آینده</h5>
                    <p>باغ‌های خوب با بذرهای خوب ساخته می‌شوند</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img alt="slide-3" class="d-block w-100" src="/img/slideshow/image3.jpg">
                <div class="carousel-caption d-md-block d-none">
                    <h5>عشق به زیبایی طبیعت</h5>
                    <p>کشاورزی، هنری است که باعث حفظ زیبایی و ثروت‌های طبیعت می‌شود</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img alt="slide-4" class="d-block w-100" src="/img/slideshow/image4.jpg">
                <div class="carousel-caption d-md-block d-none">
                    <h5>از خاک تا میز غذا</h5>
                    <p>سفری از زمین‌های کشاورزی تا محصولات خوشمزه برای شما</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img alt="slide-5" class="d-block w-100" src="/img/slideshow/image5.jpg">
                <div class="carousel-caption d-md-block d-none">
                    <h5>ما یک خانواده هستیم</h5>
                    <p>به جامعه در حال توسعه ما بپیوندید</p>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#slideshow" type="button">
            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#slideshow" type="button">
            <span aria-hidden="true" class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="d-flex flex-column flex-md-row gap-md-2 m-auto my-5" style="max-width: 1000px;">
        <div class="m-auto m-md-0 position-relative">
            <div class="d-md-block d-none position-absolute rounded-2" style="background-color: #4d9eff; right: -15px; bottom: 15px; width: 380px; height: 400px"></div>
            <div class="position-relative">
                <img alt="worker-sprays-organic-pesticides-plants" class="mw-100 mw-md-unset rounded-2" src="img/Pages/Index/worker-sprays-organic-pesticides-plants_544249-336.jpg" style="width: 426px; height: 394px"/>
            </div>
        </div>
        <div class="p-4 position-relative rounded-2" style="background-color: #F8F8F8; top: 25px; line-height: 1.9">
            <h3 class="mb-4" style="font-size: 1.6rem">بهترین فروشگاه وسایل و محصولات کشاورزی</h3>
            <p>با افتخار بهترین فروشگاه وسایل و محصولات کشاورزی را به شما معرفی می‌کنیم! ما با سال‌ها تجربه در ارائه بهترین محصولات برای کشاورزان، به عنوان یکی از پیشوازهای این صنعت به شما خدمت می‌رسیم.</p>
            <p>در فروشگاه ما، شما می‌توانید بهترین ابزارها، ماشین‌آلات کشاورزی، بذرها و محصولات مرتبط با کشاورزی را پیدا کنید. همچنین، تیم متخصص ما همواره آماده‌ی پاسخگویی به سوالات شما و ارائه‌ی مشاوره‌های تخصصی در زمینه کشاورزی است. ما با تضمین کیفیت محصولات و خدمات ما، به شما کمک می‌کنیم تا کشاورزی خود را به سطح بالاتری برسانید.</p>
            <p>اگر به دنبال بهترین منابع کشاورزی هستید، از ما دیدن کنید. ما افتخار داریم که شما را در رسیدن به موفقیت در کشاورزی همراهی کنیم. به ما بپیوندید و تجربه‌ی خریدی بی‌نظیر در دنیای کشاورزی را تجربه کنید.</p>
        </div>
    </div>

    <div class="align-items-center bg-white border border-2 d-flex flex-column flex-md-row justify-content-center m-auto p-4 pb-5 pb-md-4 position-relative rounded-2 shadow-sm" style="max-width: 1000px; gap: 5rem; bottom: -62px;">

        <div class="align-items-center d-flex flex-row gap-3">
            <div>
                <img alt="customer satisfaction" height="60px" src="img/Pages/Index/customer-satisfaction.svg" width="60px"/>
            </div>
            <div class="d-flex flex-column">
                <span style="font-size: 2.5rem; line-height: 1.2">۷۵۹+</span>
                <span>رضایت مشتری</span>
            </div>
        </div>

        <div class="align-items-center d-flex flex-row gap-3">
            <div>
                <img alt="" height="60px" src="img/Pages/Index/human-man-svgrepo-com.svg" width="60px"/>
            </div>
            <div class="d-flex flex-column">
                <span style="font-size: 2.5rem; line-height: 1.2">۱۰۰+</span>
                <span>نیروی انسانی</span>
            </div>
        </div>

        <div class="align-items-center d-flex flex-row gap-3">
            <div>
                <img alt="" height="60px" src="img/Pages/Index/activity-svgrepo-com.svg" width="60px"/>
            </div>
            <div class="d-flex flex-column">
                <span style="font-size: 2.5rem; line-height: 1.2">۱۰+</span>
                <span>مدت زمان فعالیت</span>
            </div>
        </div>

        <div class="align-items-center d-flex flex-row gap-3">
            <div>
                <img alt="product" height="60px" src="img/Pages/Index/product.svg" width="60px"/>
            </div>
            <div class="d-flex flex-column">
                <span style="font-size: 2.5rem; line-height: 1.2">۵۰+</span>
                <span>محصول</span>
            </div>
        </div>

    </div>

    <div class="py-5" style="background-image: url('img/assets/26e25c3a1620c188b4d947531e67ed0c.png');">
        <div class="d-flex flex-column gap-3 text-center text-white" style="padding-top: 62px">
            <div class="align-items-center d-flex flex-column gap-3">
                <h6 style="font-size: 1.5rem">باغ و مزرعه خود را با عشق بسازید</h6>
                <p>با کمک یک همراه منحصر به فرد، مزرعه و باغی مختص به خود داشته باشید و محصولی سرشار از عشق و سلامتی تولید کنید.</p>
            </div>
            <div class="d-flex flex-wrap gap-3 justify-content-center">
                <img alt="" class="mw-100" height="270px" src="img/Pages/Index/new01.jpg" width="370px"/>
                <img alt="" class="mw-100" height="270px" src="img/Pages/Index/high-angle-woman-holding-seeds-planting-with-pot-1536x1022.jpg" width="370px"/>
                <img alt="" class="mw-100" height="270px" src="img/Pages/Index/collection-gardening-equipment-grass-1536x1024.jpg" width="370px"/>
                <img alt="" class="mw-100" height="270px" src="img/Pages/Index/close-up-planting-flowers-soil_23-2148905268.jpg" width="370px"/>
                <img alt="" class="mw-100" height="270px" src="img/Pages/Index/1642079.jpg" width="370px"/>
            </div>
        </div>
    </div>

    <div class="d-flex div-highlight position-relative py-5">
        <div class="div-gradiant div-wrapper opacity-50 rounded-3"></div>
        <div class="align-items-center d-flex flex-column flex-md-row gap-3 justify-content-center w-100 z-1">

            <div class="align-items-center d-flex justify-content-center p-5 rounded-3 text-white" style="background-color: #24211F; font-size: 1.3rem; width: 250px; height: 180px">
                خواص محصولات
            </div>

            <div class="align-items-center bg-white d-flex flex-column gap-3 justify-content-center p-2 rounded-3 text-center user-select-none" style="width: 250px; height: 180px">
                <img alt="" height="50px" src="img/Pages/Index/cbimage.png" width="50px"/>
                <span>احیا نمودن خاک ، افزایش عملکرد محصول ، رفع انواع تنش ها (خشکی،سرمازدگی و...)</span>
            </div>

            <div class="align-items-center bg-white d-flex flex-column gap-3 justify-content-center p-2 rounded-3 text-center user-select-none" style="width: 250px; height: 180px">
                <img alt="" height="50px" src="img/Pages/Index/cbimage.png" width="50px"/>
                <span>افزایش ریشه زایی ، افزایش رشد زایشی و رویشی ، افزایش رنگ آوری میوه</span>
            </div>

            <div class="align-items-center bg-white d-flex flex-column gap-3 justify-content-center p-2 rounded-3 text-center user-select-none" style="width: 250px; height: 180px">
                <img alt="" height="50px" src="img/Pages/Index/cbimage.png" width="50px"/>
                <span>افزایش گوشت آوری و کیفیت محصول ، افزایش شاه گل ، جذب حداکثری عناصر از خاک</span>
            </div>

        </div>
    </div>

</div>