@page
@model Store.Pages.PrivacyModel
@{
    ViewData["Title"] = "حریم خصوصی";
}

<div class="card m-auto margin-from-footer mt-3" style="max-width: 1300px">
    <div class="card-header text-center">
        <h1 class="py-1" style="font-size: 1.3rem">@ViewData["Title"]</h1>
    </div>

    <div class="card-body p-4">
        <p class="lead">
            به صفحه حریم خصوصی ما خوش آمدید. در اینجا، ما به شما توضیح خواهیم داد که چگونه اطلاعات شما را جمع‌آوری می‌کنیم، استفاده می‌کنیم، و حفظ می‌کنیم. لطفاً این متن را با دقت مطالعه کنید.
        </p>

        <h2>جمع‌آوری اطلاعات</h2>
        <p>
            هنگامی که از وب‌سایت ما بازدید می‌کنید، ممکن است ما اطلاعاتی مانند آدرس IP شما، نوع مرورگر، سیستم عامل شما و صفحاتی که بازدید می‌کنید، را جمع‌آوری کنیم. این اطلاعات به ما کمک می‌کند تا بهترین خدمات را ارائه دهیم.
        </p>

        <h2>استفاده از اطلاعات</h2>
        <p>
            ما اطلاعات جمع‌آوری شده را به منظور بهبود تجربه کاربری و بهینه‌سازی وب‌سایت خود مورد استفاده قرار می‌دهیم. همچنین، از اطلاعات شما برای ارتباط با شما و اطلاع‌رسانی در مورد خدمات و به‌روزرسانی‌های ما استفاده می‌کنیم.
        </p>

        <h2>انتقال اطلاعات</h2>
        <p>
            ما هیچ‌گونه اطلاعات شخصی شما را به اشخاص یا شرکت‌های دیگر انتقال نمی‌دهیم مگر اینکه با اجازه شما و یا به دلیل اجرای قوانین مربوطه اقدام کنیم.
        </p>

        <h2>امنیت</h2>
        <p>
            ما از تدابیر امنیتی مناسب برای حفاظت از اطلاعات شما استفاده می‌کنیم و تلاش می‌کنیم تا از دسترسی غیرمجاز به این اطلاعات جلوگیری کنیم.
        </p>

        <h2>تغییرات در سیاست حریم خصوصی</h2>
        <p>
            ممکن است ما در آینده تغییراتی در سیاست حریم خصوصی خود ایجاد کنیم. هر تغییری که انجام دهیم، در این صفحه منتشر می‌شود.
        </p>

        <p class="mt-5 text-center">
            اگر سوالی در مورد سیاست حریم خصوصی ما دارید لطفاً با ما <a asp-page="/ContactUs/Index">تماس بگیرید</a>.
        </p>
    </div>
</div>